# Node
package-lock.json
node_modules/

# Generated content
resources/_gen/
public/
assets/js/version-switcher.js

# IDEs
.vscode
**/.idea/
.coverage

# Python file for sync
tkn_web_env
**/.venv
**/__pycache__/

# Synced docs
content/en/docs/Pipelines
content/en/docs/Triggers
content/en/docs/CLI
content/en/vault/
content/en/docs/Chains
content/en/docs/Operator
content/en/docs/Dashboard
content/en/docs/Results
sync/.cache

# Local Netlify folder
.netlify
