{{- $sansSerifFont := site.Params.fonts.sansserif }}

@charset "utf-8"

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Bulma variable overwrites
$family-sans-serif: "{{ $sansSerifFont }}", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$navbar-height: 5rem
$navbar-item-img-max-height: $navbar-height * .7

@import "bulma/sass/utilities/derived-variables"

@import "bulma/bulma"
