# Each YAML file under sync/ configures how sync/sync.py synchronizes
# contents of various versions from its source of truth (usually a GitHub
# repository of a Tekton component, such as tektoncd/pipelines) to
# content/ (for the lastest version) and vault/ (for earlier versions).

# The name of the component.
# sync.py will use this value to build directories in content/ and vault/.
component: CLI
# The order of the component.
displayOrder: 2
# The GitHub repository where documentation resides.
repository: https://github.com/tektoncd/cli
# The directory in the GitHub repository where contents reside.
docDirectory: docs
# The link to the GitHub tag page.
archive: https://github.com/tektoncd/cli/tags
# The tags (versions) of contents to sync.
# Note that sync.py and related script reads tags in the order specified in
# the following list; the first entry in tags will automatically become the
# latest version of contents.
# To add a new version, append to the list as below
# - name: vX.Y.Z
#   displayName: vX.Y.Z
#   folders:
#     docs:
#       target: '/'            # optional, default value '/'
#       index: README.md       # optional, if _index.md exists
#       include: ['*.md']      # optional, default value ['*']
#       exclude: ['not_in.md'] # optional, default value []
#       header: <dict>         # optional, no header added if not set
#         See https://www.docsy.dev/docs/adding-content/navigation/#section-menu
tags:
- name: v0.20.0
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.20.0
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.19.1
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.19.1
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.18.0
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.18.0
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.17.2
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.17.2
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.16.0
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.16.0
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.15.0
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.15.0
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.14.0
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.14.0
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.13.1
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.13.1
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.12.1
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.12.1
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.11.0
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.11.0
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: v0.10.0
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: v0.10.0
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
- name: main
  # The name to display on tekton.dev.
  # helper.py will use this value in the version switcher and other places.
  displayName: main
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
