# Each YAML file under sync/ configures how sync/sync.py synchronizes
# contents of various versions from its source of truth (usually a GitHub
# repository of a Tekton component, such as tektoncd/pipelines) to
# content/ (for the lastest version) and vault/ (for earlier versions).

component: Pipelines
repository: https://github.com/tektoncd/pipeline
archive: https://github.com/tektoncd/pipeline/tags
tags:
- name: release-v1.9.x
  displayName: v1.9.x-LTS
  folders:
    docs:
      index: README.md
      include: ['*.md']
      exclude:
        - api-spec.md
        - tutorial.md
- name: release-v1.6.x
  displayName: v1.6.x-LTS
  folders:
    docs:
      index: README.md
      include: ['*.md']
      exclude:
        - api-spec.md
        - tutorial.md
- name: release-v1.3.x
  displayName: v1.3.x-LTS
  folders:
    docs:
      index: README.md
      include: ['*.md']
      exclude:
        - api-spec.md
        - tutorial.md
- name: release-v1.0.x
  displayName: v1.0.x-LTS
  folders:
    docs:
      index: README.md
      include: ['*.md']
      exclude:
        - api-spec.md
        - tutorial.md
- name: main
  # The name to display on tekton.dev.
  # sync.py will use this value in the version switcher and other places.
  displayName: main
  # Dict of folders to sync
  folders:
    docs:
      index: README.md
      include: ['*.md']
      exclude:
      - api-spec.md
      - tutorial.md
