+++
title = "Tekton"
linkTitle = "Tekton.dev Homepage"

+++

{{< blocks/cover title="クラウドネイティブCI/CD" subtitle="" image_anchor="smart" color="orange" height="med">}}
<div class="mx-auto">
        <a class="btn btn-lg btn-dark mr-3 mb-4" href="/docs">
		ドキュメント一覧 <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="https://github.com/tektoncd">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{% blocks/showcase-ja color="link" %}}

{{< blocks/section color="danger" >}}
{{% blocks/feature icon="fas fa-globe-asia" title="標準化" %}}
Tekton は CI/CD ツールおよびプロセスを、ベンダー、言語およびデプロイ環境を越えて標準化します。Tektonは、Jenkins、Jenkins X、Skaffold、
Knative、および他の多くの一般的なCI/CDツールで動作します。
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-medal" title="ビルトイン・ベストプラクティス" %}}
Tekton を利用することで、CI/CDシステムの素早い構築と、スケーラブル、サーバーレス、かつ独創的なクラウドネイティブ実行をが可能となります。
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-feather" title="最高の柔軟性" %}}
Tektonは基盤となる実装を抽象化することで、ビルド、テストおよびデプロイワークフローをチーム要件に応じて選択できるようにします。
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/partners color="danger" >}}
-->

{{< blocks/partners-alternate-ja color="dark" >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fas fa-code" title="Tektonのインストール" %}}
<a href="/docs/getting-started/">こちら</a>をご参照ください。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="貢献を歓迎します" url="https://github.com/tektoncd/" %}}
GitHubでTektonへの貢献をお願いします。
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-chalkboard" title="Tektonの体験" %}}
[Tekton Playground](https://katacoda.com/tektoncd/scenarios/playground)で、Tektonの学習、調査および体験ができます。
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{% blocks/manifesto-ja color="dark" %}}
