<section class="row td-box td-box--4 td-box--gradient td-box--height-auto linkbox">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>Get involved</h2>
        <p>Read our contribution standards:</p>
        <ul>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/code-of-conduct.md">
              Code of conduct</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/design-principles.md">
              Design principles</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/standards.md#commit-messages">
              Commits standards</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/standards.md#code">
              Code standards</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/user-profiles.md">
              User profiles</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/releases.md">
              Release cycles</a>
          </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>Reach out</h2>
        <p>Join our community spaces:</p>
        <ul>
          <li><i class="fab fa-slack fa-fw"></i>
	    <a href="https://join.slack.com/t/tektoncd/shared_invite/zt-1z8ctzsyv-wLXWwA2Rl3AOhcNGqpWRUw">
              Join the Tekton Slack!</a>
          </li>
          <li><i class="fab fa-twitter fa-fw"></i>
            <a href="https://twitter.com/tektoncd">
              Follow us on Twitter</a>
          </li>

          <li><i class="fa fa-inbox fa-fw"></i>
            <a href="https://groups.google.com/forum/#!forum/tekton-dev">
              Tekton developers mailing list</a>
          </li>
          <li><i class="fa fa-inbox fa-fw"></i>
            <a href="https://groups.google.com/forum/#!forum/tekton-users">
              Tekton users mailing list</a>
          </li>
          <li><i class="fa fa-calendar fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/working-groups.md">
              Working groups and meetings</a>
          </li>
          <li><i class="fab fa-google-drive fa-fw"></i>
            <a href="https://drive.google.com/drive/u/0/folders/0AFOvPxM9MpebUk9PVA">
              The Tekton Developer's shared Drive</a>
          </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>Contribution process</h2>
        <p>Check out our processes:</p>
        <ul>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/process/README.md#finding-something-to-work-on">
              Find something to work on</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/process/README.md#proposing-features">
              Propose new features</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/process/contributor-ladder.md">
              Contributor ladder</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/process/README.md#reviews">
              Pull requests reviews</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/process/projects.md">
              Propose new projects</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/org/README.md">
              GitHub Org management</a>
          </li>
          <li><i class="fab fa-github fa-fw"></i>
            <a href="https://github.com/tektoncd/community/blob/main/org/README.md">
              Contributor's Licence Agreement</a>
          </li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2>Learn about Tekton users</h2>
        <p>Open source projects, cloud vendors, and end users are building
        amazing things with Tekton. Check out the
        <a href="https://github.com/tektoncd/community/blob/main/adopters.md">
          list of Tekton Adopters</a> to learn more.</p>
    </div>
</section>
