{{ $year := now.Year }}
<footer class="footer">
  <div class="container has-text-centered">
    <p>
      &copy; {{ $year }} The Tekton authors
    </p>
    <p>
      Copyright &copy; {{ $year }} The Linux Foundation®. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage">Trademark Usage</a> page. Linux is a registered trademark of Linus Torvalds. <a href="http://www.linuxfoundation.org/privacy">Privacy Policy</a> and <a href="http://www.linuxfoundation.org/terms">Terms of Use</a>
    </p>
  </div>
</footer>
