<footer class="tekton-footer d-print-none">
  <nav class="tekton-footer__links" aria-label="Footer">
    {{ range .Site.Menus.footer }}
      {{ $url := urls.Parse .URL }}
      {{ $href := .URL | relLangURL }}
      {{ with .Page }}{{ $href = .RelPermalink }}{{ end }}
      {{ if $url.Host }}{{ $href = .URL }}{{ end }}
      <a href="{{ $href }}"{{ if $url.Host }} target="_blank" rel="noreferrer"{{ end }}>{{ .Name }}</a>
    {{ end }}
  </nav>
  <p class="tekton-footer__cncf">
    Tekton is a <a href="https://www.cncf.io/" target="_blank" rel="noreferrer">Cloud Native Computing Foundation</a> incubating project.
  </p>
  <p class="tekton-footer__legal">
    Copyright &copy; {{ now.Year }} The Tekton Authors, a Series of LF Projects, LLC. For website terms of use, trademark policy and other project policies please see <a href="https://lfprojects.org/policies/" target="_blank" rel="noreferrer">lfprojects.org/policies</a>.
  </p>
</footer>
