{{ $home      := site.BaseURL }}
{{ $githubUrl := site.Params.github }}
<nav class="navbar is-fixed-top has-shadow">
  <div class="container">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbarMenu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="button is-borderless has-background-black has-text-white" href="{{ $githubUrl }}" target="_blank">
              <span class="icon">
                <i class="fab fa-github" aria-hidden="true"></i>
              </span>
              <span>
                GitHub
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
