{{ $title    := site.Title }}
{{ $subtitle := site.Params.subtitle | markdownify }}
{{ $logo     := printf "img/logos/tekton-%s.png" site.Params.logos.hero | relURL }}
{{ $info     := site.Params.info | markdownify }}
<section class="hero">
  <div class="hero-body has-text-centered has-background-white-bis">
    <div class="container">
      <img class="hero-logo" src="{{ $logo }}">

      <p class="subtitle is-size-2 is-size-4-mobile">
        {{ $subtitle }}
      </p>

      <p class="is-size-4 is-size-6-mobile">
        {{ $info }}
      </p>
    </div>
  </div>
</section>
