<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Getting Started with Tekton</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <a class="navbar-item subtitle is-light" href="/">Tekton Codelab</a>
            </div>
        </nav>
        <section class="hero is-fullheight-with-navbar is-link is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Your app is up and running</h1>
                    <h2 class="subtitle">To continue, return to katacoda. You can learn more about Tekton at <a href="tekton.dev">tekton.dev</a>.</h2>
                </div>
            </div>
        </section>
    </body>
</html>
