+++
title = "Tekton"
linkTitle = "Tekton.dev Homepage"

+++

{{< blocks/cover title="Kubernetes-native CI/CD" image_anchor="top" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/tektoncd">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Tekton is a powerful and flexible open-source framework for creating CI/CD
systems, allowing developers to build, test, and deploy across cloud providers
and on-premise systems.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-globe-asia" title="Standardization" %}}
Tekton standardizes CI/CD tooling and processes accorss vendors, languages,
and deployment environments. It works well with Jenkins, Jenkins X, Skaffold,
Knative, and many other popular CI/CD tools.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-medal" title="Built-in best practices" %}}
Tekton let you create cloud-native CI/CD systems quickly, leveraging advanced
deployment patterns such as rolling, blue/green, canary deployment and/or
GitOps workflow.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-feather" title="Maximum flexibility" %}}
Tekton abstracts underlying implmententation so that you can choose the build,
test, and deploy workflow based on your team's requirements.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Tekton is a Google-developed open source project.</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}
{{% blocks/feature icon="fas fa-code" title="Install Tekton" %}}
Get Tekton here.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome" url="https://github.com/tektoncd/" %}}
Contribute to Tekton on GitHub.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-chalkboard" title="Learn Tekton" %}}
Learn Tekton with interactive tutorials.
{{% /blocks/feature %}}


{{< /blocks/section >}}
