+++
title = "Tekton"
linkTitle = "Tekton.dev Homepage"
+++

{{< blocks/cover title="Cloud Native CI/CD" subtitle="" image_anchor="smart" color="orange" height="med">}}
<div class="mx-auto">
	<a class="btn btn-lg btn-dark mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentação <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="https://github.com/tektoncd">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{% blocks/showcase color="link" %}}

{{< blocks/section color="danger" >}}
{{% blocks/feature icon="fas fa-globe-asia" title="Standardization" %}}
Tekton padroniza ferramentas e processos de CI/CD de fornecedores, idiomas,
e ambientes de deployment. Funciona bem com Jenkins, Jenkins X, Skaffold,
Knative, e muitas outras ferramentas de CI/CD populares.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-medal" title="Melhores práticas integradas" %}}
Tekton permite criar sistemas CI/CD rapidamente,
proporcionando execução escalonável, sem servidor e nativa da nuvem pronta para uso.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-feather" title="Flexibilidade máxima" %}}
Tekton abstrai a implementação subjacente para que você possa escolher como construir,
testar e implantar o fluxo de trabalho com base nos requisitos de sua equipe.
{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/partners color="danger" >}}
-->

{{< blocks/partners-alternate color="dark" >}}

{{< blocks/section color="white" >}}
{{% blocks/feature icon="fas fa-code" title="Instalar Tekton" %}}
<a href="/docs/getting-started/">Obtenha o Tekton aqui</a>.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contribuições são bem-vindas" url="https://github.com/tektoncd/" %}}
Contribua com Tekton no GitHub.
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-chalkboard" title="Teste Tekton" %}}
Aprenda, explore e experimente Tekton usando [Tekton Playground](https://www.katacoda.com/ratrosyu/scenarios/playground).
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{% blocks/manifesto color="dark" %}}
